@import src/app/styles/common
  
.root
  display: flex
  margin-right: 1rem 
  +theme(background-color, mainBg)
  +theme(color, text)
  +theme(border-color, borderColor)

.input-group
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  border: 1px solid
  border-radius: 5px
  max-width: 200px
  +theme(border-color, borderColor)

  &__input
    border: none
    width: 50px
    height: 90%

  &__value-button
    height: 100%
    cursor: pointer
    outline: none
    border: none
    font-size: 0.9rem
    +theme(background-color, primaryColor)

    &:hover
      opacity: .7

.button
  border: none
  border-radius: 5px
  cursor: pointer
  font-size: 0.9rem
  margin-left: 0.5rem
  padding: 0.4rem
  +theme(background-color, primaryColor)
  +theme(box-shadow, boxShadow)

  &:hover
    opacity: .7

  &__icon
    font-size: 1.25rem
    font-weight: 700
    padding: 0
    margin: 0